input {
  width: 600px;
  height: 40px;
  border-radius: 6px;
  padding: 2px 7px;
}

.input-label {
  display: inline-block;
  min-width: 90px;
}

.input-message-container {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
}

select {
  padding: 5px;
  width: 600px;
  border-radius: 6px;
}

.btn-submit {
  width: 180px;
  border: none;
}

.btn-submit:hover:not(:disabled) {
  background-color: rgb(230, 162, 25);
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-out;
}

.btn-submit:disabled {
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 14px;
  display: block;
}

.form-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(79, 189, 189, 0.829);
  gap: 14px;
  padding: 20px;
}

.form-content-container {
  display:grid;
  gap: 20px;
}

.text-description {
  width: 600px;
  height: 90px;
  border-radius: 6px;
  padding: 7px;
}

.submit-container {
  position: relative;
}

.success-message-container {
  width: 150px;
  position: absolute;
  bottom: 10px;
  left: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.success-message {
  color: #25AE88;
}

